{% extends "user/base.html" %}
{% load static %}
{% block body %}
  <main id="main">
    <div class="container mt-4">
        <div class="card text-center">
            <div class="card-header">
              <h1>Blog</h1>
            </div>
            <div class="card-body">
              <h2 class="card-title">{{dairy.title}}</h2>
              <p class="card-text">{{dairy.content| safe}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div>
              {% for dairy1 in dairy1  %}
        <img src="/media/{{dairy1.image}}" style="height: 10%; width: 10%;"  class="img-thumbnail" alt="...">
        {% endfor %}
            </div>
            <div class="card-footer text-muted">
              {{dairy.title}}
            </div>
          </div>
    </div>
    <div class="container">
        
    </div>
  </main>
{% endblock body %}